@media only screen and (max-width: 1600px) {
    main .car_galery {
        grid-template-columns: repeat(3, 1fr);
    }

    .cars_about img {
        width: 600px;
    }
}

@media only screen and (max-width: 1250px) {
    main .car_galery {
        grid-template-columns: 1fr 1fr;
    }

    .cars_about {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }

    .cars_about img {
        margin: 0;
    }
}

@media only screen and (max-width: 960px) {
    .main_container {
        grid-template-columns: 1fr;
    }

    .function__btns {
        grid-row-start: 1;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .sort_btns {
        width: 300px;
        height: 60px;
    }

    .search_menu input {
        width: 300px;
        height: 60px;
    }

    #search_drop:checked+.slide {
        height: 600px;
    }

    #sort_drop:checked+.slide {
        height: 600px;
    }

    .burger_menu {
        visibility: visible;
        opacity: 1;
    }

    nav ul {
        display: none;
    }

    nav {
        justify-content: space-between;
        margin: 0 40px;
    }
}

@media only screen and (max-width: 850px) {
    .cars_about img {
        width: 400px;
        border-radius: 5%;
        margin-bottom: 20px;
    }

    .cars_about {
        align-content: center;
    }

    .modal_content {
        width: 100%;
        height: 100%;
    }

    .close {
        right: 15%;
    }
}

@media only screen and (max-width: 680px) {
    main .car_galery {
        grid-template-columns: 1fr;
    }

    .function__btns {
        display: flex;
        flex-direction: column;
        align-items: center
    }
}

@media only screen and (max-width: 630px) {
    .cars_about img {
        width: 300px;
        margin-bottom: 20px;
    }

    .cars_about {
        align-content: center;
    }
}

@media only screen and (max-width: 440px) {
    .cars_about img {
        width: 250px;
    }
}

@media only screen and (max-width: 439px) {
    .cars_about img {
        width: 200px;
    }

    .cars_about p {
        font-size: 16px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
    }
}